/****************************************************************/
/* Header gedeelt */
/****************************************************************/

header{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    position: absolute;
   
}

header img:nth-child(1){
    width: 20px;
    position: relative;
    grid-row-end: 1;
}


header figure{
    display: none;
}

@media (min-width:40em) { 
    header figure{
      position: relative; 
      display: flex;
      align-items: center;
      justify-self: right;
      gap: .5em;
   }

    header figcaption{
      color: white; 
      font-size: 1.5em;
    }
}



/****************************************************************/
 /* Achtergrond */
 /****************************************************************/

 section:nth-child(1) img:nth-child(1) {
       display: block; 
    }
 
    section:nth-child(1) img:nth-child(2) {
        display: none; 
    }


@media (min-width:40em) { 
        section:nth-child(1) img:nth-child(1) {
           display: none; 
        }

        section:nth-child(1) img:nth-child(2) {
            display: block; 
        }

         section:nth-child(1) img:nth-child(3) { 
              grid-template-columns: 50% 50%; 
        } 
}

/*Stijlen van sections */
/****************************************************************/
/* Section 1  */
/****************************************************************/

section:nth-child(1){
    background-image: linear-gradient(0deg, rgba(0 0 0 / 1) 0%, rgba(0 0 0 / .1) 30%);
    z-index: 10;
}

section:nth-child(1) img:nth-child(1){
    position: relative;
    z-index: -1;
    width: 100%;
  }
  
  section:nth-child(1) img:nth-child(2){
    position: relative;
    z-index: -1;
    width: 100%;
  }  

section:nth-child(1) img:nth-child(3){
    position: absolute;
    width: 100%;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 500px;
  }

  @media (min-width:40em) { 
    section:nth-child(1) img:nth-child(3){
        width: 60%;
        top: 30vw;
        left: 5em;
        transform: translateY(-50%);
  }
}
 
/****************************************************************/
/* Section 2  */
/****************************************************************/

section:nth-child(2){
    padding:6em 5em 0em 5em;
    border: 1px solid var(--borderColor);  
    position: relative; 
    width: 90%;
    margin:20em auto 6em auto;    
}


@media (min-width:40em) { 
    section:nth-child(2) { 
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 20% min-content 1fr;
       background-color: var(--bgColor);
       max-width: 800px;
       min-width: 600px;
       margin:12em auto 6em auto;   
    } 
    section:nth-child(2) img{
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 4;
    }
}

section:nth-child(2) button{
    background-color: var(--bgColor);
    color: var(--textColor);
    text-transform: uppercase;
    border: none;
    height: 50px;
}

section:nth-child(2) span{
    padding: .6em .6em .6em .6em;
    border: 1px solid var(--borderColor);
}

section:nth-child(2) span:hover{
    background-color: var(--bgColor2);
    color:var(--textColo2) ;
}

section:nth-child(2) img {
    display: block;
    position: absolute;
    top: -30%;
    left: 50%;
    max-height: 100%;
    max-width: 150%;
    transform: translate(-50%, -50%);
}

@media (min-width:40em) { 
section:nth-child(2) img{ 
    top: 0;
    left:0;
    position: relative;
    transform: none;
    min-width: 120px;
    margin-top: -10em;
} 
}

/****************************************************************/
/* Section 3 */
/****************************************************************/

section:nth-child(3){  
    padding: 0 5em 0 5em ;
    position: relative; 
    width: 90%;
    margin: 5em auto 0 auto;
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr;
}

section:nth-child(3) h1{
    order: 2;
    grid-row-start: 2;
}

section:nth-child(3) img{
    position: relative;
    width: 120px;
    order: 1;
    justify-self: center;
}


video{
    width: 100%;
    order: 3;
    justify-self: center;
}

/****************************************************************/
/* Secion 4 */
/****************************************************************/

section:nth-child(4){  
    padding: 0 5em 0 5em ;
    position: relative; 
    width: 90%;
    margin: 5em auto 0 auto;
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr;
}

section:nth-child(4) h1{
    order: 2;
    grid-row-start: 2;
}

section:nth-child(4) img{
    position: relative;
    width: 120px;
    order: 1;
    justify-self: center;
}

/****************************************************************/
/* Section 5  tour dates */
/****************************************************************/

section:nth-child(5){
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width:40em) { section:nth-child(5) { grid-template-columns: 1fr 1fr; } }

article:nth-of-type(2n){
    justify-content: left;
}


section:nth-child(5) a{
    text-decoration: none;
    color: var(--textColor);
}

/****************************************************************/
/* Section 6 view all dates*/ 
/****************************************************************/

section:nth-child(6) button{
    padding: .6em .6em .6em .6em;
    background-color: var(--bgColor);
    color: white;
    text-transform: uppercase;
}

section:nth-child(6) button:hover{
    background-color: var(--bgColor2);
    color:var(--textColo2) ;
}


section:nth-child(6){ 
    padding: 5em 5em 5em 5em ;
    position: relative; 
    width: 90%;
    margin:6em auto 6em auto;
    max-width: 300px;
}


  
/****************************************************************/
/* Section 7 */
/****************************************************************/

section:nth-child(7){  
    padding: 0 5em 0 5em ;
    position: relative; 
    width: 90%;
    margin: 5em auto 0 auto;
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr;
}

section:nth-child(7) h1{
    order: 2;
    grid-row-start: 2;
}

section:nth-child(7) img{
    position: relative;
    width: 120px;
    order: 1;
    justify-self: center;
}


/****************************************************************/
/* Section 8 */
/****************************************************************/

section:nth-child(8){
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(150px, 180px) );
    max-width: 900px;
    justify-content: center;
    margin: auto auto auto auto;
}


section:nth-child(8) img{
    position: relative;
    max-width: 100%;
    order: 1;
}

section:nth-child(8) a{
    order: 3;
    margin-top: 5em;
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
    color: var(--textColor);
}

section:nth-child(8) a:hover{
    border: 2px solid red;
}

section:nth-child(8) p{
    color: var(--textColor);
}

/****************************************************************/
/* Section 9 */
/****************************************************************/

section:nth-child(9){  
    padding: 0 5em 0 5em ;
    position: relative; 
    width: 90%;
    margin: 5em auto 0 auto;
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr;
}

section:nth-child(9) h1{
    order: 2;
    grid-row-start: 2;
}

section:nth-child(9) img{
    position: relative;
    width: 120px;
    order: 1;
    justify-self: center;
}

/****************************************************************/
/* Section 10 */
/****************************************************************/

section:nth-child(10){
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(150px, 300px) );
    justify-content: center;
    margin: 2em auto auto auto;
    /* max-width: 800px; */
}


section:nth-child(10) img{
    position: relative;
    width: 100%;
    order: 1;
    overflow: hidden;
}

section:nth-child(10) a{
    order: 3;
    margin-left: 1em;
    margin-right: 1em;
}

/* section:nth-child(10) figcaption{
    display: block;
    color: var(--textColor);
    position: relative;
    font-size: 1em;
    top: -25%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
} */

/****************************************************************/
/* Section 11 */
/****************************************************************/
section:nth-child(11) button{
    padding: .6em .6em .6em .6em;
    background-color: var(--bgColor);
    color: white;
    text-transform: uppercase;
}

section:nth-child(11) button:hover{
    background-color: var(--bgColor2);
    color:var(--textColo2) ;
}


section:nth-child(11){ 
    padding: 5em 5em 5em 5em ;
    position: relative; 
    width: 90%;
    margin:auto auto auto auto;
    max-width: 300px;
}


/****************************************************************/
/* Section 12 email updates */
/****************************************************************/

section:nth-child(12){  
    padding: 0 5em 0 5em ;
    position: relative; 
    width: 90%;
    margin: 5em auto 0 auto;
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr;
}

section:nth-child(12) h1{
    order: 2;
    grid-row-start: 2;
}

section:nth-child(12) img{
    position: relative;
    width: 120px;
    order: 1;
    justify-self: center;
}

/****************************************************************/
/* Section 13 email updates 2 */
/****************************************************************/

section:nth-child(13){
    max-width: 600px;
    margin: auto auto auto auto;
  }