/* CSS Document */
*, *::after, *::before {
    box-sizing:border-box;  
    padding: 0px;
    margin: 0px;
    font-family: "score";
  
    --textColor:white;
    --bgColor:black;
    --borderColor:white;
    --navBgColor: rgba(0 0 0 / 0.5)
}
  
  @font-face{
    font-family: 'score';
    src: url(../assets/scorefont.ttf);
    font-style: normal;
    font-weight: 100;
}

@media (min-width:40em) { 
    body {
       background-image: url(../images/bg.jpg); 
       background-size: cover;
       background-repeat: no-repeat;
    }
}

body{
  box-sizing: border-box;
  background-color:var(--bgColor);
  min-width: 350px ;
}

main{
  justify-self: center;
  text-align: center;
}

/* iconen bovenin */


/* Hamburger menu */

header.toonMenu img:nth-child(1){
  transform: translateX(14em);
  transition:.5s;
}

nav{
  grid-row-start: 2;
}


nav ul { 
  margin:0; 
  padding:4em 0 0;
  background:var(--bgColor);
  list-style:none;
  position:fixed;
  width: 60%;
  height: 100%;
  top: 0;
  transform:translatex(-100%);
  transition:.5s;
  z-index:50;
}

@media (min-width:40em) {
  nav ul {
      width:30% ;
      background:var(--navBgColor);
     }
 }


nav.toonMenu ul {
  transform:translatex(0);
}

nav li {
  text-align: center;
  align-items: center;
}


h1{
    text-transform: uppercase;
    color:var(--textColor);
    text-align: center;
    font-size: 2em;
}

h2{
    color: var(--textColor);
    font-size: 1.5em;
    text-align: center;
    margin-top: 3em;
  }

h3{
    text-transform: uppercase;
    color:var(--textColor);
    text-align: center;
    font-size: 1em;
}
p{
    color: var(--textColor);
    font-size: 1em;
    text-align: center;
    margin-top: .5em;
}



