/* CSS Document */
*, *::after, *::before {
    box-sizing:border-box;  
    padding: 0px;
    margin: 0px;
    font-family: "score";
  
    --textColor:white;
    --textColo2:black;
    --bgColor:black;
    --bgColor2:white;
    --borderColor:white;
    --navBgColor: rgba(0 0 0 / 0.7)
}
  
  @font-face{
    font-family: 'score';
    src: url(../assets/scorefont.ttf);
    font-style: normal;
    font-weight: 100;
}

@media (min-width:40em) { 
    body {
       background-image: url(../images/bg.jpg); 
       background-size: cover;
       background-repeat: no-repeat;
    }
}



body{
  box-sizing: border-box;
  background-color:var(--bgColor);
  min-width: 350px ;
  
}


 
main{
  justify-self: center;
  text-align: center;
}





/* Hamburger menu */

nav{
  grid-row-start: 2;
}

nav ul:first-of-type { 
  position:fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  background:var(--bgColor);
  list-style:none;
  width: 60%;
  bottom: 0;
  top: 0;
  transform:translatex(-100%);
  transition:.5s;
  z-index:50;
}

@media (min-width:40em) {
  nav ul:first-of-type {
      width:40% ;
      background:var(--navBgColor);
     }
 }


 header img:first-of-type.toonMenu{
   transform: translateX(20em);
 }

nav.toonMenu ul:first-of-type {
  transform:translatex(0);
}

nav.toonMenu ul:nth-child(2){
  transform:translatex(0);
}

nav li{
  margin-top: 1em;
}

nav a:first-of-type{
  font-size: 1.2em;
  text-decoration: none;
  color: var(--textColor);
  text-transform: uppercase;
}

nav ul:nth-child(2) { 
  position:fixed;
  display: grid;

  grid-template-columns: 10% 10% 10% 10% 10%;
  list-style:none;
  top: 65%;
  transform:translatex(-100%);
  transition:.5s;
  z-index:50;
}

nav ul:nth-child(2) li{
  margin-right: 1.5em;
  margin-left: 1.5em;
  
}

/* General stuff */
h1{
    text-transform: uppercase;
    color:var(--textColor);
    text-align: center;
    font-size: 2em;
}

h2{
    color: var(--textColor);
    font-size: 1.5em;
    text-align: center;
    margin-top: 3em;
  }

h3{
    text-transform: uppercase;
    color:var(--textColor);
    text-align: center;
    font-size: 1em;
}
p{
    color: var(--textColor);
    font-size: 1em;
    text-align: center;
    margin-top: .5em;
}

/****************************************************************/
/* Form */
/****************************************************************/

form{
  position: relative;
  display: grid;
  width: 50%;
  grid-template-columns: 90% 90%;
  margin: auto auto auto auto;
  justify-content: center;
}

@media (min-width:40em) { form{ width: 50%; } }

form input{
  background: transparent;
  color: var(--textColor);
  text-align: center;
  border: none;
  border-bottom: 1px solid var(--borderColor);
  margin-top: 2em;
  font-size: .7em;
  font-family: "score";
  text-transform: uppercase;
}

@media (min-width:40em) { form input{ font-size: .9em; } }

form input:focus:nth-child(1){
  outline: none;    
} 

form input:focus:nth-child(2){
  outline: none;    
} 

form input:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 3;
}

form h3{
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: .7em;
  margin-top: 1em;
}
@media (min-width:40em) { form h3{ font-size: .9em; } }

form div input[type="checkbox"]{
  
  margin-bottom: 1em; 
  margin-top: 1em;
}

form label{
  color: var(--textColor);
  font-family: "score";
  font-size: .7em;
  color: gray;
}

@media (min-width:40em) { form label{ font-size: .9em; } }

form p{
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: .6em;
  color: gray;
  appearance: none;
}

form button{
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: transparent;
  border: none;
  
  color: var(--textColor);
  text-transform: uppercase;
  
  height: 44px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 700;
  font-size: 1em;
}
  
form span{
  padding: .5em 1.5em .5em 1.5em;
  background-color: var(--bgColor);
}

form span:hover{
  background-color:#222222;
}


/****************************************************************/
/* Footer */
/****************************************************************/

footer img{
  width: 20px;
  margin: 0;
}

footer ul:nth-child(1){
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer li{
  list-style-type: none;
  margin-right: .5em;
  margin-left: .5em;
}